{% extends "layout.html" %}
{% block content %}
<div class="tabletype-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.tablename.label(class="form-control-label") }}
                {% if form.tablename.errors %}
                    {{ form.tablename(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tablename.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.tablename(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.tabletype.label(class="form-control-label") }}
                {% if form.tabletype.errors %}
                    {{ form.tabletype(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tabletype.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.tabletype(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                    {{ form.file.label() }}
                    {{ form.file(class="form-control-file") }}
                    {% if form.file.errors %}
                    
                        {% for error in form.file.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}

<!-- <script src="javascript">
    $("#formsubmit").on("submit",function(event){
        console.log("clicked")
        event.preventDefault();
    });
</script> -->